.graphBox {
  width: 100%;
  min-width: 12rem;
  height: 32rem;
  border: 1px solid var(--light-red);
  border-radius: 0.5rem;
  cursor: move;
  user-select: none;
  touch-action: none;
  overflow: auto;
  fill: #fff;
}

.courseNodeVertex {
  fill: black;
  stroke: var(--accent-blue);
  stroke-width: 3px;
  cursor: pointer;
}

.courseNodeVertex:hover {
  fill: purple;
}

.courseNodeVertex.courseOpen {
  fill: blue;
}

.courseNodeVertex.courseOpen:hover {
  fill: var(--accent-blue);
}

.courseNodeVertex.courseNoPrereqs {
  fill: var(--light-gray);
  stroke: var(--light-gray);
  cursor: unset;
}

.courseNodeVertex.courseUnknown {
  fill: var(--light-red);
  stroke: var(--light-red);
  cursor: unset;
}

.courseNodeLabel {
  font-size: 16px;
  font-weight: bold;
  fill: var(--accent-blue);
  border-radius: 4px;
  padding: 2px 4px;
  cursor: pointer;
  fill: red;
}

.courseNodeLabel.courseUnknown {
  background-color: var(--light-red);
}

.edge {
  stroke: black;
  stroke-width: 2;
}

.edgeArrowhead {
  fill: black;
}

.setNodeBox {
  fill: var(--accent-blue-translucent);
}

.setNodeLabel {
  font-size: 10px;
  fill: var(--cool-gray);
}

.graphBox svg {
  width: 100%;
  height: 100%;
}
