.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 3rem;
}

.topContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  /* width: 70%; */
}

.titleTxt {
  font-size: 4rem;
  font-weight: 'bolder';
  text-align: center;
}

.searchContainer {
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  height: 4rem;
  padding: 1rem;
  margin: 3rem 0rem;
}

.searchInput {
  border: none;
  outline: none;
  width: 80%;
  font-size: 2rem;
  padding: 1rem;
  background-color: transparent;
}

.searchButton {
  width: 4rem;
  height: auto;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.coursesMajorContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.bottomIndicatorText {
  font-size: 2rem;
  font-weight: bolder;
  margin: 1rem;
}

.majorAndClassContainer {
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem;
}

.majorText {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem;
  text-decoration: underline;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.classText {
  font-size: 1rem;
  margin: 1rem;
  cursor: pointer;
}

.searchResults {
  width: 50%;
  background-color: white;
  position: absolute;
  z-index: 100;
}

.searchResultItem {
  display: flex;
  flex-direction: column;
  border: 0.5px solid black;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.searchResultItem:hover {
  background-color: #f0f0f0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.checkBtn {
  font-size: 20px;
  background-color: #87CEEB;
  /* Green background */
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.checkBtn:hover {
  background-color: #448EE4;
  transform: scale(1.05);
}

.checkBtn input {
  display: none;
}

.checkBtn.active {
  background-color: #45a049;
  /* Stay darker green when active */
}

.checkBtn.active:hover {
  background-color: #4CAF50;
  /* Revert back to original color on hover */
  transform: scale(1.05);
  /* Slightly larger on hover */
}

.Quarter {
  position: absolute;
  right: 8%;
  top: 20%;
  font-family: jua;
}

.course_number {
  display: inline-block;
  color: #87CEEB;
  font-family: "jua";
  font-size: 50px; 
  font-weight: bold;  
  -webkit-text-stroke: 1px black;
  margin-left: 50px;
}

.course_name {
  display: inline-block;
  color: black;
  font-family: "jua";
  font-size: 20px;
  font-weight: bold;
  margin-left: 15px;
}

.description {
  color: black;
  margin: 10px 50px 20px 50px;
  font-family: "raleway";
}

/* .logo {
  position: absolute;
  top: 5%;
  left: 5%;
} */

.backgroundImage {
  position: absolute;
  z-index: -1;
}

.BoyandGirl {
    display: flex; 
    flex-direction: row;

}

.spaceBetween {
  margin: 1.5rem;
}
