.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 3rem;
}

.topContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.titleTxt {
  font-size: 4rem;
  font-weight: 'bolder';
  text-align: center;
}

.searchContainer {
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  height: 4rem;
  padding: 1rem;
  margin: 3rem 0rem;
}

.searchInput {
  border: none;
  outline: none;
  width: 80%;
  font-size: 2rem;
  padding: 1rem;
}

.searchButton {
  width: 4rem;
  height: auto;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.coursesMajorContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.bottomIndicatorText {
  font-size: 2rem;
  font-weight: bolder;
  margin: 1rem;
}

.majorAndClassContainer {
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem;
}

.majorText {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem;
  text-decoration: underline;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.classText {
  font-size: 1rem;
  margin: 1rem;
  cursor: pointer;
}
.checkBtn {
  font-size: 20px;
  background-color: #87CEEB; /* Green background */
  color: white;
  border: none; 
  padding: 15px 32px;
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  margin: 4px 2px; 
  cursor: pointer; 
  border-radius: 12px; 
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.checkBtn:hover {
  background-color: #448EE4; 
  transform: scale(1.05); 
}

.checkBtn input {
  display: none;
}

.checkBtn.active {
  background-color: #45a049; /* Stay darker green when active */
}

.checkBtn.active:hover {
  background-color: #4CAF50; /* Revert back to original color on hover */
  transform: scale(1.05); /* Slightly larger on hover */
}